<div class="ui-g">
  <div class="ui-g-12">
    <h3 class="kb-card-h3"><span class="kb-card-title">Contas a receber</span></h3>
  </div>

  <div class="ui-g-12 ui-md-6">
    <p-panel header="Situação do contas a receber">
      <div class="ui-g">
        <div class="ui-g-12">
          <div class="div-card div-card-atraso">
            <p-card>
              <p-header>
                Em atraso
              </p-header>
              {{ contasReceberSituacaoDoAnoSum.valorVencido | currency:'BRL':'symbol':'1.2-2':'pt' }}
            </p-card>
          </div>

          <div class="div-card div-card-hoje">
            <p-card>
              <p-header>
                A receber hoje
              </p-header>
              {{ contasReceberSituacaoDoAnoSum.valorVenceHoje | currency:'BRL':'symbol':'1.2-2':'pt' }}
            </p-card>
          </div>

          <div class="div-card div-card-amanha">
            <p-card>
              <p-header>
                A receber amanhã
              </p-header>
              {{ contasReceberSituacaoDoAnoSum.valorVenceAmanha | currency:'BRL':'symbol':'1.2-2':'pt' }}
            </p-card>
          </div>

          <div class="div-card div-card-7dias">
            <p-card>
              <p-header>
                A receber nos próximos 7 dias
              </p-header>
              {{ contasReceberSituacaoDoAnoSum.valorVenceProximos7Dias | currency:'BRL':'symbol':'1.2-2':'pt' }}
            </p-card>
          </div>

          <div class="div-card">
            <p-card>
              <p-header>
                A receber este mês ({{ currentMonthName }})
              </p-header>
              {{ contasReceberSituacaoDoAnoSum.valorVenceMesAtual | currency:'BRL':'symbol':'1.2-2':'pt' }}
            </p-card>
          </div>

          <div class="div-card">
            <p-card>
              <p-header>
                A receber próximo mês ({{ nextMonthName }})
              </p-header>
              {{ contasReceberSituacaoDoAnoSum.valorVenceProximoMes | currency:'BRL':'symbol':'1.2-2':'pt' }}
            </p-card>
          </div>
        </div>

        <div class="ui-g-12">
          <hr class="kb-card-hr">
        </div>

        <div class="ui-g-12">
          <div class="div-card div-card-pago">
            <p-card>
              <p-header>
               Recebido este mês ({{ currentMonthName }})
              </p-header>
              {{ contasReceberSituacaoDoAnoSum.valorPagoMesAtual | currency:'BRL':'symbol':'1.2-2':'pt' }}
            </p-card>
          </div>

          <div class="div-card">
            <p-card>
              <p-header>
                Recebido mês passado ({{ previusMonthName }})
              </p-header>
              {{ contasReceberSituacaoDoAnoSum.valorPagoMesAnterior | currency:'BRL':'symbol':'1.2-2':'pt' }}
            </p-card>
          </div>
        </div>

      </div>
    </p-panel>
  </div>

  <div class="ui-g-12 ui-md-6">
    <p-panel [header]="getPanelPrevistoXRealizadoTitle()">
      <p-chart type="bar" [options]="options" [data]="monthlySumContasReceberData"></p-chart>
    </p-panel>
  </div>

</div>
