<div>

  <p-panel>
    <p-header>
			<div class="ui-g kb-no-margins1">

			  <div class="ui-g-12 ui-md-10 kb-no-margins1">
			    <div class="kb-form-panel-header">
				  {{ getTranslation('financeiro.plano_contas.planoConta') }}
				    <!-- help -->
				    <i *ngIf="showHideHelp" class="pi pi-question-circle" tooltipStyleClass="kb-help-class-id" pTooltip="Nesta tela, controle os registros de plano de contas."></i>
				    <!-- help -->
				</div>
			  </div>

			  <div class="ui-g-12 ui-md-2 kb-no-margins1">
	            <div class="kb-no-margins1" style="display: flex; align-items: center; justify-content: flex-end;">
	              <p-inputSwitch [(ngModel)]="showHideHelp"></p-inputSwitch>
	              <span style="margin-left: 3px;">
	              {{ getShowHideHelpLabel() }}
	               <!-- help -->
	               <i class="pi pi-question-circle" tooltipStyleClass="kb-help-class-id" pTooltip="Mostre ou oculte as dicas de ajuda dos campos."></i>
	               <!-- help -->
	              </span>
	            </div>
	          </div>

			</div>
		</p-header>

    <div class="ui-g">

      <div class="ui-g-12">

        <div class="ui-g-12 ui-md-4 ui-g-nopad">
          <div class="ui-g-12 ui-g-nopad" style="padding-right: 10px !important">

            <p-button [style]="{'margin-bottom': '5px'}" (onClick)="reloadTree()" label="Recarregar" icon="pi pi-replay" iconPos="right"></p-button>

            <p-tree [style]="{'width': '100%', 'max-height':'600px', 'overflow':'auto'}"
              [value]="planoContasTree"
              [filter]="true" filterMode="strict"
              [loading]="loadingTree" selectionMode="single"
              emptyMessage="Nenhum registro encontrado."
              [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)">
            </p-tree>

          </div>
        </div>

        <div class="ui-g-12 ui-md-8 ui-g-nopad" style="border: 1px solid silver">

          <div class="ui-g-12 ui-g-nopad">


            <!-- BEGIN FORM-->
            <form #form1="ngForm" (ngSubmit)="save(form1.form)">
              <div class="ui-g">

              <div class="ui-g-12 ui-fluid hidden">
                <label for="id" class="hidden">
                  {{ getTranslation('financeiro.plano_contas.planoConta_id') }}
                  <!-- help -->
                  <i *ngIf="showHideHelp" class="pi pi-question-circle" tooltipStyleClass="kb-help-class-id" pTooltip="Identificador único."></i>
                  <!-- help -->
                </label>
                <div class="input-readonly">
                  <input type="hidden" pInputText readonly #id="ngModel" [(ngModel)]="planoConta.id" name="id">
                </div>
              </div>

              <div class="ui-g-12 ui-fluid ui-md-2">
                <label for="codigo">
                  {{ getTranslation('financeiro.plano_contas.planoConta_codigo') }}
                  <span class="kb-label-required">*</span>
                  <!-- help -->
                  <i *ngIf="showHideHelp" class="pi pi-question-circle" tooltipStyleClass="kb-help-class-id" pTooltip="Código do item do plano de contas. Exemplo: 1.1.1."></i>
                  <!-- help -->
                </label>
                <input type="text" pInputText #codigo="ngModel" [(ngModel)]="planoConta.codigo" name="codigo" required>
                <div class="invalid-message" *ngIf="codigo.invalid && codigo.dirty">Campo obrigatório.</div>
              </div>

              <div class="ui-g-12 ui-fluid ui-md-7">
                <label for="descricao">
                  {{ getTranslation('financeiro.plano_contas.planoConta_descricao') }}
                  <span class="kb-label-required">*</span>
                  <!-- help -->
                  <i *ngIf="showHideHelp" class="pi pi-question-circle" tooltipStyleClass="kb-help-class-id" pTooltip="Descrição do item do plano de contas. Exemplo: Despesas com educação."></i>
                  <!-- help -->
                </label>
                <input type="text" pInputText #descricaoElementRef #descricao="ngModel" [(ngModel)]="planoConta.descricao" name="descricao" required>
                <div class="invalid-message" *ngIf="descricao.invalid && descricao.dirty">Campo obrigatório.</div>
              </div>

              <div class="ui-g-12 ui-fluid ui-md-3">
                <label for="tipoFinanceiro">
                  {{ getTranslation('financeiro.plano_contas.planoConta_tipoFinanceiro') }}
                  <span class="kb-label-required">*</span>
                  <!-- help -->
                  <i *ngIf="showHideHelp" class="pi pi-question-circle" tooltipStyleClass="kb-help-class-id" pTooltip="Informe se este item do plano de contas trata-se de uma Receita ou de uma Despesa."></i>
                  <!-- help -->
                </label>
                <p-dropdown [options]="planoContaTipoFinanceiroOptions" placeholder="Selecione um item..." #tipoFinanceiro="ngModel" [(ngModel)]="planoConta.tipoFinanceiro" name="tipoFinanceiro" required></p-dropdown>
                <div class="invalid-message" *ngIf="tipoFinanceiro.invalid && tipoFinanceiro.dirty">Campo obrigatório.</div>
              </div>


              <!-- separator -->
              <div class="ui-g-12">
                <hr class="separator-default">
              </div>
              <!-- separator -->

              <div class="ui-g-12 ui-fluid ui-md-12">
                <label style="display: block" for="maisOpcoes">
                  {{ getTranslation('financeiro.plano_contas.planoConta_maisOpcoes') }}
                  <!-- help -->
                  <i *ngIf="showHideHelp" class="pi pi-question-circle" tooltipStyleClass="kb-help-class-id" pTooltip="Mostra ou oculta opções extras para o plano de contas."></i>
                  <!-- help -->
                </label>
                <p-inputSwitch #maisOpcoes="ngModel" [(ngModel)]="planoConta.maisOpcoes" name="maisOpcoes"></p-inputSwitch>
              </div>

              <div class="ui-g-12 ui-fluid ui-md-12" [style.display]="ruleTipoReceitaDespesaAppyHiddeComponent()">
                <label for="tipoReceitaDespesa">
                  {{ getTranslation('financeiro.plano_contas.planoConta_tipoReceitaDespesa') }}
                  <!-- help -->
                  <i *ngIf="showHideHelp" class="pi pi-question-circle" tooltipStyleClass="kb-help-class-id" pTooltip="Informe se este item do plano de contas é uma receita/despesa Fixa (ocorre mensalmente) ou Variável (ocorre sazonalmente)."></i>
                  <!-- help -->
                </label>
                <p-dropdown [options]="planoContaTipoReceitaDespesaOptions" placeholder="Selecione um item..." #tipoReceitaDespesa="ngModel" [(ngModel)]="planoConta.tipoReceitaDespesa" name="tipoReceitaDespesa"></p-dropdown>
              </div>

              <div class="ui-g-12 ui-fluid ui-md-12" [style.display]="rulePlanoContaPaiAppyHiddeComponent()">
                <label for="planoContaPai">
                  {{ getTranslation('financeiro.plano_contas.planoConta_planoContaPai') }}
                  <!-- help -->
                  <i *ngIf="showHideHelp" class="pi pi-question-circle" tooltipStyleClass="kb-help-class-id" pTooltip="Caso tenha, informe qual será o item já existente do plano de contas, que será o item pai deste item. Por exemplo: 'DESPESAS' é o item pai do item 'Despesas com jardinagem'."></i>
                  <!-- help -->
                </label>
                <p-autoComplete
                p-autoComplete placeholder="Digite para pesquisar..." [dropdown]="true" [forceSelection]="true"
                 [suggestions]="planoContaPlanoContaPaiAutoCompleteSuggestions"
                 (completeMethod)="planoContaPlanoContaPaiAutoComplete($event)"
                 (onClear)="planoContaPlanoContaPaiAutoCompleteClear($event)"
                 (onBlur)="planoContaPlanoContaPaiAutoCompleteOnBlur($event)"
                 [field]="planoContaPlanoContaPaiAutoCompleteFieldConverter"
                 #planoContaPai="ngModel" [(ngModel)]="planoConta.planoContaPai" name="planoContaPai">
                  <ng-template let-planoContaPai pTemplate="item">
                    <div class="ui-helper-clearfix">{{ planoContaPlanoContaPaiAutoCompleteFieldConverter(planoContaPai) }}</div>
                  </ng-template>
                </p-autoComplete>
              </div>

              <div class="ui-g-12 ui-fluid ui-md-1" [style.display]="ruleAtivoAppyHiddeComponent()">
                <label style="display: block" for="ativo">
                  {{ getTranslation('financeiro.plano_contas.planoConta_ativo') }}
                  <span class="kb-label-required">*</span>
                  <!-- help -->
                  <i *ngIf="showHideHelp" class="pi pi-question-circle" tooltipStyleClass="kb-help-class-id" pTooltip="Informe se este item do plano de contas está Ativo ou Inativo. Apenas itens Ativos podem ser utilizados no contas a pagar e contas a receber."></i>
                  <!-- help -->
                </label>
                <p-inputSwitch #ativo="ngModel" [(ngModel)]="planoConta.ativo" name="ativo" required></p-inputSwitch>
                <div class="invalid-message" *ngIf="ativo.invalid && ativo.dirty">Campo obrigatório.</div>
              </div>

              <div class="ui-g-12 crud-buttons">
                <div class="ui-g-12 ui-md-2 ui-fluid">
                  <button pButton type="submit"   class="botao-margem-direita" label="Salvar" tooltipPosition="top" pTooltip="Salvar registro."></button>
                </div>

                <div class="ui-g-12 ui-md-2 ui-fluid">
                  <button pButton (click)="begin(form1)" type="button"  label="Novo" tooltipPosition="top" pTooltip="Criar novo registro."></button>
                </div>

                <div class="ui-g-12 ui-fluid ui-md-2">
                  <button [disabled]="planoConta.id == null || planoConta.codigo == null || planoConta.codigo === ''"
                  style="border: 1px solid silver" pButton (click)="deletePlanoConta()" type="button" label="Excluir"
                    class="botao-margem-direita ui-button-secondary"></button>
                </div>
              </div>


            </div>
            </form>
            <!-- END FORM-->


          </div>

          <div style="margin-top: 10px;" *ngIf="showHideHelp" class="ui-g-12 ui-g-nopad crud-buttons">
              <p-card>
                  <strong>Para adicionar um novo item ao Plano de Contas, faça o seguinte:</strong>
                  <ol>
                    <li>Na lista da esquerda, clique sobre o item que será o pai do novo item;<br>
                      <strong>Dicas caso o item pai não esteja aparecendo na lista da esquerda:</strong></li>
                    <ul>
                      <li>Você pode pesquisar digitando na caixa de edição com a lupa;</li>
                      <li>Você pode expandir os itens da esquerda clicando na ponta de seta do lado esquerdo dos itens.</li>
                    </ul>
                    <li>Clique no botão <strong>Novo</strong>;</li>
                    <li>Preencha os campos desejados. <strong>Os campos já preenchidos, não precisam ser alterados</strong>;</li>
                    <li>Clique no botão <strong>Salvar</strong>;</li>
                    <li>O novo item é adicionado por último na lista do pai que foi selecionado no passo 1.</li>
                  </ol>

                  <strong>Nota: </strong>Clicando no botão <strong>Recarregar</strong>, a lista de itens do Plano de Contas será totalmente recarregada e reorganizada.
              </p-card>
          </div>

        </div>

      </div>

    </div>

  </p-panel>

</div>
