<div class="container" style="max-width: 400px; margin: auto">

    <form  #form1="ngForm" (ngSubmit)="changePassword(form1.form)">
      <div class="ui-g ui-fluid">

        <div class="ui-g-12">
          <strong>Mudar a senha</strong>
        </div>
        <div *ngIf="passwordChangedError || passwordChanged" class="ui-g ui-fluid">
          <div class="ui-g-12">
            <div [innerHTML]="textResult"></div>
          </div>
        </div>

        <div *ngIf="!passwordChanged" class="ui-g-12">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
              <input [disabled]="disabled" pInputText type="currentPassword" placeholder="Senha atual" #localCurrentPassword="ngModel" ngModel
                [(ngModel)]="currentPassword" name="currentPassword" required>
            </div>
            <div class="invalid-message" *ngIf="localCurrentPassword.invalid && localCurrentPassword.dirty">Informe a senha atual.</div>
          </div>

        <div *ngIf="!passwordChanged" class="ui-g-12">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
            <input [disabled]="disabled" pInputText type="password" placeholder="Nova senha" #localPassword="ngModel" ngModel
              [(ngModel)]="password" name="password" required>
          </div>
          <div class="invalid-message" *ngIf="localPassword.invalid && localPassword.dirty">Informe a nova senha.</div>
        </div>

        <div *ngIf="!passwordChanged" class="ui-g-12">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
            <input [disabled]="disabled" pInputText type="password" placeholder="Confirme a nova senha"
              #localConfirmPassword="ngModel" ngModel [(ngModel)]="confirmPassword" name="confirmPassword" required>
          </div>
          <div class="invalid-message" *ngIf="localConfirmPassword.invalid && localConfirmPassword.dirty">Informe a
            confirmação da nova senha.</div>
        </div>

        <div *ngIf="!passwordChanged" class="ui-g-12 ui-fluid ui-md-12">
          <button pButton [disabled]="disabled" type="submit" [label]="btnLabel"></button>
        </div>

        <div class="ui-g-12 ui-fluid ui-md-12">
          <a (click)="goBack()" pButton style="border: 1px solid silver" class="ui-button-secondary"
            label="Voltar"></a>
        </div>

      </div>
    </form>

  </div>
