<div class="ui-g" style="margin-top: 0px !important; padding-top: 0px !important;">
  <div class="ui-g-12" style="margin-top: 0px !important; padding-top: 0px !important;">
    <h3 class="kb-card-h3" style="margin-top: 0px !important; padding-top: 0px !important;"><span
        class="kb-card-title">Fluxo de Caixa</span></h3>
  </div>

  <div class="ui-g-12 ui-md-12">

    <!-- Begin valores -->
    <div class="ui-g-12 ui-md-3">

      <div class="div-card div-card-credito">
        <p-card>
          <p-header>
            Créditos ({{ currentMonthName }})
          </p-header>
          {{ creditosDoMes | currency:'BRL':'symbol':'1.2-2':'pt' }}
        </p-card>
      </div>

      <div class="div-card div-card-debito">
        <p-card>
          <p-header>
            Débitos ({{ currentMonthName }})
          </p-header>
          {{ debitosDoMes * -1 | currency:'BRL':'symbol':'1.2-2':'pt' }}
        </p-card>
      </div>

      <div class="div-card div-card-saldo">
        <p-card>
          <p-header>
            Saldo ({{ currentMonthName }})
          </p-header>
          {{ saldoDoMes | currency:'BRL':'symbol':'1.2-2':'pt' }}
        </p-card>
      </div>

      <div class="div-card div-card-saldo-atual">
        <p-card>
          <p-header>
            Saldo atual
          </p-header>
          {{ saldoAtual | currency:'BRL':'symbol':'1.2-2':'pt' }}
        </p-card>
      </div>

    </div>

    <!-- End valores -->


    <!-- Begin gráfico -->
    <div class="ui-g-12 ui-md-9">
      <p-panel [header]="getPanelPrevistoXRealizadoTitle()">
        <p-chart type="bar" [options]="options" [data]="chartData"></p-chart>
      </p-panel>
    </div>
    <!-- End gráfico -->
  </div>

  <!-- BEGIN Despesas mensais por plano de contas -->
  <div class="ui-g-12 ui-md-6">
    <p-panel [header]="getDespesasMensaisPorPlanoContasTitle(0)">
      <p-chart type="pie" [options]="resumoPlanoContasOptions"
        [data]="resumoMensalPorPlanoContasDebitosMesAtualChartData"></p-chart>
    </p-panel>
  </div>

  <div class="ui-g-12 ui-md-6">
    <p-panel [header]="getDespesasMensaisPorPlanoContasTitle(1)">
      <p-chart type="pie" [options]="resumoPlanoContasOptions"
        [data]="resumoMensalPorPlanoContasDebitosMesAnteriorChartData"></p-chart>
    </p-panel>
  </div>
  <!-- END Despesas mensais por plano de contas -->

  <!-- BEGIN Receitas mensais por plano de contas -->
  <div class="ui-g-12 ui-md-6">
    <p-panel [header]="getReceitasMensaisPorPlanoContasTitle(0)">
      <p-chart type="pie" [options]="resumoPlanoContasOptions"
        [data]="resumoMensalPorPlanoContasCreditosMesAtualChartData"></p-chart>
    </p-panel>
  </div>

  <div class="ui-g-12 ui-md-6">
    <p-panel [header]="getReceitasMensaisPorPlanoContasTitle(1)">
      <p-chart type="pie" [options]="resumoPlanoContasOptions"
        [data]="resumoMensalPorPlanoContasCreditosMesAnteriorChartData"></p-chart>
    </p-panel>
  </div>
  <!-- END Receitas mensais por plano de contas -->

</div>
