.centered {
  margin: 0px;
  position: fixed;
  top: 45%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 400px;
  border: 1px solid #eaeaea;
  border-radius: 3px;
}

@media screen and (max-width: 399px) { /* < que 400*/
  .centered {
    width: 95%;
  }
}

.kerubin-logo {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

/*section {
  background-image:url('./img/bg2.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}*/
