<div class="home-container">

  <div class="ui-g">
    <div class="ui-g-12" style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 3px;">

      <div class="ui-g-12 ui-md-10 home-logo">
        <div class="kerubin-logo"><img src="assets/images/logo_borda.png"></div>
      </div>

      <div class="ui-g-12 ui-md-2 home-btn-entrar">
        <button icon="pi pi-key" iconPos="right" (click)="goToLogin()"
        pButton class="ui-button-raised" label="Entrar"></button>
      </div>

    </div>

    <div class="ui-g-12 home-blocks" style="margin-top: 0px; padding-top: 0px">
      <div class="home-text-main">
        Faça seus rendimentos valerem muito mais, ganhe descontos, pare de pagar multas e juros.
        O Kerubin te ajuda a manter as contas sempre em dia.
      </div>
    </div>

    <div class="ui-g-12">
      <div class="home-btn-abrir-conta">
        <button (click)="goToNewAccount()" pButton
        class="ui-button-success ui-button-raised" icon="pi pi-user-edit" iconPos="right"
          label="Quero fazer a gestão das contas no Kerubin"></button>
      </div>

    </div>

    <div class="ui-g-12 home-blocks-transparent">
      <ul class="home-text-blocks-trans">
        <li>Ganhe mais descontos por ter suas contas em dia</li>
        <li>Pare de pagar multas e juros por atraso</li>
        <li>Tenha total controle das suas contas a pagar e a receber</li>
        <li>O <strong>Kerubin</strong> te avisa com antecedência
          quais contas você tem para pagar e receber</li>
        <li>Acesse de qualquer lugar, a qualquer hora</li>
      </ul>
    </div>

    <div class="ui-g-12 home-blocks-transparent">
      <ul class="home-text-blocks-trans">
        <li>Sem planos de assinatura</li>
        <li>Acesso ilimitado a todas as funcionalidades</li>
        <li>Sem restrições de quantidade de usuários</li>
        <li>Você decide quanto quer investir em créditos para fazer a gestão das contas</li>
        <li>Só desconta dos créditos quando você usar o sistema</li>
        <li>Quando não quiser mais, basta parar de usar</li>
        <li>Você fica no controle</li>
      </ul>
    </div>

    <div class="ui-g-12 home-blocks-transparent">
      <div class="home-text-blocks-trans">
        <h3 class="home-faq-header" style="margin-top: 0px !important;">Perguntas frequentes</h3>
        <p-accordion>
          <p-accordionTab header="O que é o Kerubin?">
            <div class="home-faq">
              <p>Partimos do princípio básico que, <strong>o investimento mais rentável de uma pessoa,
                  é a sua renda mensal, o seu salário.</strong>
                Sabemos que aumentar a renda mensal, apesar de todos querermos, não é uma coisa fácil de se conseguir.
                Exige estudar, fazer cursos, empreendedorismo, mudar de emprego, mudar de país, trabalho duro e muita
                dedicação.
                E mesmo assim, as vezes não acontece, porque na maioria dos casos, não somos nós que estamos no
                controle.
              </p>

              <p>Por outro lado, otimizar a renda mensal que você recebe, é algo possível.
                A regra também é simples, basicamente quanto menos você gastar da sua renda, mais sobrará.
                Assim, se você diminuir os seus gastos, é como se você estivesse recebendo um aumento.
                E sobre os seus gastos, você tem o controle.
                Uma maneira eficiente e mais fácil de conseguir fazer isso,
                é utilizar uma ferramenta que te ajude a controlar o que você recebe e o que você gasta.</p>

              <p>O <strong>Kerubin</strong> é uma plataforma online inovadora, ele permite aos seus utilizadores
                controlarem de forma eficiente e fácil as suas contas a pagar, contas a receber e controle de caixa.</p>

              <p>Um dos principais objetivos do <strong>Kerubin</strong>, é auxiliar as pessoas a manterem suas contas
                em
                dia, e dar visibilidade dos recebimentos e dos gastos, tanto do passado (base para tomada de decisão),
                como do presente (ação) e do futuro (previsão).</p>

              <p>O <strong>Kerubin</strong> avisa diariamente quais são as contas que devem ser pagas ou recebidas.
                Além de você também conseguir facilmente visualizar isso e várias outras informações importantes,
                apenas acessando o sistema.</p>

              <p>Mantendo seus compromissos em dia, você receberá e manterá descontos concedidos em muitas das suas
                contas, além de não pagar multas e juros por atraso,
                o que fará com que você fique com mais dinheiro no bolso e menos preocupações.</p>

              <p>Estamos trabalhando para tornar o <strong>Kerubin</strong> cada vez mais inteligente,
                de forma que otimize ao máximo o gerenciamento das suas contas,
                assim você gastará cada vez menos dinheiro, e tempo se preocupando com contas,
                e terá mais dinheiro, e tempo livre, para fazer o que quiser,
                sem preocupações e sempre no controle.</p>
            </div>
          </p-accordionTab>
          <p-accordionTab header="Como funciona o Kerubin?">
            <div class="home-faq">
              <p>Basicamente você cria uma conta no <strong>Kerubin</strong>, utilizando um e-mail e uma senha,
                depois você confirma a conta e pronto, já pode utilizar a plataforma.</p>

              <p>No <strong>Kerubin</strong>, você cadastra suas contas a pagar e a receber e dai em diante,
                ele ajuda você a fazer a gestão delas.</p>
            </div>
          </p-accordionTab>
          <p-accordionTab header="Quanto custa usar o Kerubin?">
            <div class="home-faq">
              <p>A cobrança no <strong>Kerubin</strong> é baseada em créditos. Quando você confirmar a sua conta,
                você já receberá um valor de créditos para esperimentar a plataforma.
                Quando o seu saldo de créditos estiver baixo (o sistema indica), ou a qualquer momento que você queira,
                você poderá adicionar mais créditos e continuar usando a plataforma
                sem restrições de funcionalidades ou quantidade de usuários.</p>

              <p>Seu saldo de créditos não expira (a menos que você cancele sua conta).
                Somente é debitado dos seus créditos, quando você utilizar o <strong>Kerubin</strong>, ou ele fazer
                alguma coisa para você.
                Assim, cada um paga um preço justo e proporcional a quantidade de contas a pagar e a receber que possuir
                para gerenciar.</p>

              <p>Para cancelar, basta parar de usar a plataforma ou enviar um e-mail solicitando o cancelamento.</p>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="home-btn-abrir-conta">
        <button (click)="goToNewAccount()" pButton
        class="ui-button-success ui-button-raised" icon="pi pi-user-edit" iconPos="right"
          label="Quero fazer a gestão das contas no Kerubin"></button>
      </div>

    </div>

    <div class="ui-g-12 home-separator">
    </div>

    <div class="ui-g-12 home-footer">
      <div>
        <strong>Kerubin 2&copy;2&copy;</strong><br><br><strong>Dúvidas?</strong> Envie um e-mail para
        <a style="margin-right: 0px; text-decoration: none; color: #fff; font-weight: bold; font-size: large;" href="mailto:kerubin.suporte@gmail.com">kerubin.suporte@gmail.com.</a>
        <span style="margin-left: 0px; padding-left: 0px"> Ficaremos felizes em lhe responder ;-)</span>
      </div>
    </div>

  </div>
